<form class="col-6">
  <div class="input-group mt-5 mb-3">
    <span class="input-group-text" id="basic-addon1">Name</span>
    <input
      type="text"
      class="form-control"
      placeholder="Insert..."
      aria-label="Username"
      aria-describedby="basic-addon1"
      [(ngModel)]="product.name"
      name="name"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Price</span>
    <input
      type="text"
      class="form-control"
      placeholder="Insert..."
      aria-label="Username"
      aria-describedby="basic-addon1"
      [(ngModel)]="product.price"
      name="price"
    />
  </div>
  <div class="row">
    <div class="col-7"></div>
    <div class="col">
      <button class="btn btn-info m-2" routerLink="/products">Go Back</button>
      <button class="btn btn-outline-warning m-2" (click)="updateProduct()">
        Edit
      </button>
    </div>
  </div>
</form>
